.timeline-wheel {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.timeline-wheel::before {
  content: "";
  grid-area: 1 / 1;
  width: 100%;
  height: 1px;
  background-color: rgba(var(--color-black-blue-rgb), .1);
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .timeline-wheel::before {
    display: none;
  }
}