.timeline-circle__text {
  font-size: 20px;
  line-height: 30%;
  color: var(--color-black-blue-hex);
}

.timeline-circle__dot-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 0;
  height: 0;
}

.timeline-circle__content {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  gap: 20px;
  align-items: center;
  transform: translate(-28px, -50%);
}

.timeline-circle__dot-hitbox {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  cursor: pointer;
  border-radius: 50%;
}

.timeline-circle__dot_small {
  width: 6px;
  height: 6px;
  background-color: var(--color-black-blue-hex);
  border-radius: 50%;
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.timeline-circle__dot_big {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  overflow: hidden;
  background-color: var(--color-white-hex);
  border: 1px solid rgb(var(--color-black-blue-rgb), 0.5);
  border-radius: 50%;
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.timeline__title {
  display: none;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-black-blue-hex);
  white-space: nowrap;
}

.timeline__title_active {
  display: block;
}
