.timeline-title {
  z-index: 10;
  font-size: 200px;
  font-weight: 700;
  line-height: 160px;
  letter-spacing: -0.02em;
}

.timeline-title__text_blue {
  color: var(--color-blue-hex);
}

.timeline-title__text_pink {
  color: var(--color-pink-hex);
}

@media screen and (width <= 1279px) {
  .timeline-title {
    font-size: 120px;
  }
}

@media screen and (width <= 767px) {
  .timeline-title {
    font-size: 100px;
  }
}

@media screen and (width <= 659px) {
  .timeline-title {
    font-size: 56px;
  }
}
