.timeline-wheel {
  display: grid;
  place-items: center center;
  width: 100%;
}

.timeline-wheel::before {
  z-index: -1;
  grid-area: 1 / 1;
  width: 100%;
  height: 1px;
  content: "";
  background-color: rgb(var(--color-black-blue-rgb), 0.1);
}

@media screen and (width <= 767px) {
  .timeline-wheel::before {
    display: none;
  }
}