.navigation {
  position: absolute;
  bottom: -45px;
  display: grid;
  gap: 16px;
  padding-left: 74px;
}

.navigation__text {
  color: var(--color-black-blue-hex);
}

.navigation__buttons {
  display: flex;
  gap: 20px;
}

.navigation__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: var(--color-black-blue-hex);
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--color-black-blue-hex);
  border-radius: 50%;
}

.navigation__button:hover {
  box-shadow: 0 0 15px rgb(56 119 238 / 10%);
}

.navigation__button:last-child > svg {
  transform: rotate(180deg);
}

@media screen and (width <= 1279px) {
  .navigation {
    padding-left: 36px;
  }
}

@media screen and (width <= 767px) {
  .navigation {
    top: unset;
    bottom: 0;
    gap: 8px;
    padding-left: 0;
  }

  .navigation__buttons {
    gap: 8px;
  }
  
  .navigation__button {
    width: 24px;
    height: 24px;
  }

  .navigation__button > svg {
    height: 8px;
  }
}
