.app {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 80px 0 40px;
  margin: 0 160px 0 320px;
  border-right: 1px solid rgb(var(--color-black-blue-rgb), 0.1);
  border-left: 1px solid rgb(var(--color-black-blue-rgb), 0.1);
}

.app::before {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  width: 1px;
  height: 100%;
  content: "";
  background-color: rgb(var(--color-black-blue-rgb), 0.1);
}

.app__wrapper {
  width: 100%;
}

.app__container {
  position: relative;
}

@media screen and (width <= 1535px) {
  .app {
    width: 1280px;
    margin: 0 auto;
  }
}

@media screen and (width <= 1279px) {
  .app {
    width: 100%;
    border: none;
  }
}

@media screen and (width <= 767px) {
  .app {
    min-height: auto;
    padding: 0;
    margin: 0 auto;
    border: none;
  }

  .app::before {
    display: none;
    content: "";
  }
  
  .app__wrapper {
    padding: 20px;
  }
}
