.header {
  position: absolute;
  top: -45px;
  left: 0;
  display: flex;
  align-items: center;
}

.header__line {
  width: 5px;
  height: 120px;
  background: linear-gradient(0deg,rgb(var(--color-pink-rgb), 1) 0%, rgb(var(--color-blue-rgb), 1) 100%);
}

.header__title {
  padding-left: 76px;
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  color: var(--color-black-blue-hex);
}

@media screen and (width <= 1279px) {
  .header__line {
    display: none;
  }

  .header__title {
    padding-left: 36px;
  }
}

@media screen and (width <= 767px) {
  .header {
    position: static;
  }
  
  .header__title {
    font-size: 36px;
  }
}

@media screen and (width <= 659px) {
  .header__title {
    padding-left: 0;
    font-size: 20px;
  }
}


