.splide {
  width: calc(100% - 74px * 2);
  margin: 0 auto;
  margin-top: 96px;
}

.splide__arrows {
  display: flex;
  gap: 12px;
}

.splide__arrow {
  width: 40px;
  height: 40px;
  color: var(--color-light-blue-hex);
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 15px rgb(56 119 238 / 10%);
  transition: opacity 0.3s ease;
}

.splide__arrow:disabled {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.splide__arrow > svg {
  width: 10px;
  fill: none;
}

.splide__arrow--prev {
  left: -40px;
}

.splide__arrow--next {
  right: -40px;
}

.splide__arrow--prev > svg {
  transform: unset;
}

.splide__arrow--next > svg {
  transform: rotate(180deg);
}

.splide__slide {
  display: grid;
  gap: 16px;
  padding-right: 16px;
  list-style-type: none;
}

.splide__pagination {
  position: static;
  margin-top: 36px;
}

.splide__pagination__page {
  cursor: pointer;
  background-color: rgb(var(--color-black-blue-rgb), 0.4);
}

.splide__pagination__page.is-active {
  background-color: var(--color-black-blue-hex);
  transform: none;
}

@media screen and (width <= 1279px) {
  .splide {
    width: calc(100% - 36px * 2);
  }

  .splide__arrows {
    display: none;
  }
}

@media screen and (width <= 767px) {
  .splide {
    width: calc(100%);
    padding-top: 20px;
    margin: 0;
    border-top: 1px solid var(--color-gray-hex);
  }

  .splide__pagination {
    margin-top: 100px;
  }
}